# Used by binda
pandas
numpy

# Required for deployment actions.
# Generating documentation, building and deploying to PyPi and conda

# Conda Deploy
conda-build
grayskull

# Project build and deploy - pyproject.tom;
hatchling
hatch-vcs

# Documentation
pdoc

# PyPi Deploy
twine


